<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41333039796-eq6orqgf1hveinornhh8rm80t2rk0158.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41333039796-eq6orqgf1hveinornhh8rm80t2rk0158</string>
	<key>API_KEY</key>
	<string>AIzaSyAxz5bsI32Y3sPsv4HS7JZRK2kqEUgMbLU</string>
	<key>GCM_SENDER_ID</key>
	<string>41333039796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absolutions.chatchat</string>
	<key>PROJECT_ID</key>
	<string>chatchat-5e6e6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-5e6e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41333039796:ios:881bb462c1f9525fc66de1</string>
	<key>DATABASE_URL</key>
	<string>https://chatchat-5e6e6.firebaseio.com</string>
</dict>
</plist>